<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <title>La cocina de la Abuela</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">La Cocina de la Abuela</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about.html">Acerca de mi</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="form.html">Registrarse</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="location.html">Sucursarles</a>
                    </li>
                  </ul>
                </div>
              </div>
        </nav>
        <h1>La cocina de la Abuela</h1>
    </header>
    <menu>
        <h2>Acerca de mi</h2>
        <img src="../static/img/cocina.jpg" alt="La cocina de la abuela" width="500">
        <br>
        <p style="text-align: justify;">Cómo nace La Buena Cocina? Sería fácil caer en el lugar común de decir que son recetas que se trasmitieron de generación en generación desde la tatarabuela que vivía en el campo y cosechaba las verduras y criaba las vacas para la carne y la crema. Pero la realidad es otra mucho mas simple
            La idea surge en pleno proceso de desocupación de principios de los 2000 entre un grupo de amigos gustosos de la buena comida cansados de no conseguir un buen delivery con productos elaborados en forma artesanal, sumado a la situación laboral precaria.
            Hacer realidad estas ideas nos llevó hasta fines de 2002, momento en el cual decidimos con gran esfuerzo instalar nuestro primer negocio. A partir de ese momento comenzó una etapa de desarrollo comercial muy importante, lo cual nos llevó a recurrir a profesionales en la materia no sólo comercial sino lo que es mas importante en la parte gastronómica. De esta forma llegamos a la actualidad donde sí estamos abocados personalmente a la selección de las materias primas con las que elaboramos nuestros productos, poniendo toda nuestra dedicación en el control de nuestras recetas tratando siempre de mejorar el producto final.</p>
        <br>
        <h2><u>Ubicación</u></h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9411680057!2d-58.408537924586604!3d-34.60564915759964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaf2a00d73df%3A0xc90b4ce1a7523378!2sAv.%20Pueyrred%C3%B3n%20400%2C%20C1032ABQ%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1710102425546!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <br>
        <br>
        <h2><u>Video</u></h2>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/G_tQLlHbHlg" title="BUÑUELOS de VIENTO | Receta TRADICIONAL Paso a Paso" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </menu>
        
    <footer>
        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com/?locale=es_LA" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://ar.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <br>
        <br>
        <p>Derechos reservados @2024</p>
        <br>
     </footer>
</body>
</html>