<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>La cocina de la Abuela</title>
</head>
<body>
    <header>
        <nav>
            <a class="nav" href="index.html">Home</a>
            <a class="nav" href="about.htm">Acerca de mi</a>
            <a class="nav" href="contact.html">Contacto</a>
            <a class="nav" href="form.html">Registrarse</a>
            <a class="nav" href="location.html">Sucursales</a>
        </nav>
        <h1>La cocina de la Abuela</h1>
    </header>
    <menu>
        <img src="../static/img/bunuelos_de_la_abuela.jpg" alt="Buñuelos de la abuela" width="500">
        <br>
        <p style="text-align: justify;">Los buñuelos son unas masas fritas muy típicas en fechas señaladas, sobre todo, en fiestas religiosas, como en Semana Santa o el día de Todos Los Santos. Aunque hoy en día, se han traspasado las fechas clásicas y cualquier día, sobre todo si es de frío y con un buen chocolate a la taza, es ideal para disfrutar de unos deliciosos buñuelos. Todos recordamos los que hacían nuestras abuelas, que nos parecían los mejores que habíamos probado nunca. Es por ello que, hemos querido transmitiros esa receta de buñuelos caseros de la abuela fáciles que pasa de generación tras generación, esa receta que se guarda como paño en oro para hacer los mejores buñuelos receta de la abuela.</p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <h3>Ingrendientes:</h3>
        <table>
            <tr>
                <th>Cantidad</th>
                <th>Producto</th>
            </tr>
            <tr>
                <th>2 un.</th>
                <th>Huevo</th>
            </tr>
            <tr>
                <th>1½</th>
                <th>Tazas de harina de trigo (210 gramos)</th>
            </tr>
            <tr>
                <th>½</th>
                <th>Taza de azúcar (100 gramos)</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Cucharadita de polvos de hornear o levadura química tipo Royal</th>
            </tr>
            <tr>
                <th>250 cc</th>
                <th>Leche</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Cucharadita de esencia de vainilla</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Pizca de sal</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Pizca de aceite para freír</th>
            </tr>
            <tr>
                <th>1</th>
                <th>Pizca de azúcar impalpable para decorar</th>
            </tr>
        </table>
        
        <h3>Utensillos</h3>
        <ul>
            <li>Tamizador</li>
            <li>Cuchara de madera</li>
            <li>Olla/sartén</li>
        </ul>

        <br>
        <br>
     </menu>
     <footer>
        <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com/?locale=es_LA" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://ar.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <br>
        <br>
        <p>Derechos reservados @2024</p>
        <br>
     </footer>
</body>
</html>